//to watch and compile, run: 'stylus -w public/stylus/index.styl -o public/stylesheet.css'

// devices
notPhone = 'only screen and (min-width: 481px)'

body
  margin 0
  background-image url('/images/cream_cheese.jpg')
  background-size (100/3)vw (100/5)vh
p
  font-size 17px
#menu-closed-logo, #menu-closed-logo-icon, #menu-open-logo, #menu-open-logo-icon
  z-index 2
  position fixed
  background-size 100% 100%
#menu-closed-logo, #menu-open-logo
  background-image url('/images/tomato.png')
  height 75px
  width 85px
  margin 10px
#menu-closed-logo-icon, #menu-open-logo-icon
  height 40px
  width 40px
  padding 16px 23px
#info
  font-family 'Indie Flower'
  position absolute
  z-index 1
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  flex-direction column
  transition max-width 2s, max-height 4s
  -webkit-animation: pulse 10s infinite alternate
	-moz-animation: pulse 10s infinite alternate
	-ms-animation: pulse 10s infinite alternate
	-animation: pulse 10s infinite alternate
#info-detail
  display flex
  flex-direction row
#info-detail-img
  display flex
  align-self center
  height 25px
  width 25px

@keyframes pulse {
  0% {background-color: #89daff}
  20% {background-color: #23f9f5}
  40% {background-color: #fffc00}
  60% {background-color: #ff2cc2}
  80% {background-color: #cbb1ff}
  100% {background-color: #89daff}
}

@media screen and (orientation: landscape)
  body
    background-size (100/5)vw (100/4)vh

@media notPhone
  body
    background-size 175px 175px
  h1
    font-size 50px
  p
    font-size 30px
  #menu-closed-logo, #menu-open-logo
    height 100px
    width 115px
    margin 10px
  #menu-closed-logo-icon, #menu-open-logo-icon
    height 55px
    width 55px
    padding 20px 31px
  #info-detail-img
    height 35px
    width 35px

