body {
  margin: 0;
}
canvas {
  position: relative;
  z-index: -1;
  background-image: url("/images/cream_cheese.jpg");
  background-size: 33.333333333333336vw 20vh;
}
#menu,
#menu-img {
  height: 75px;
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
#menu {
  background-image: url("/images/tomato.jpg");
}
#menu-img {
  width: 55px;
  height: 55px;
  padding: 10px 10px;
}
@media only screen and (min-width: 481px) {
  canvas {
    background-size: 225px 225px;
  }
}
