body {
  margin: 0;
  background-image: url("/images/cream_cheese.jpg");
  background-size: 33.333333333333336vw 20vh;
}
#menu-closed-logo,
#menu-closed-logo-icon,
#menu-open-logo,
#menu-open-logo-icon {
  z-index: 2;
  position: fixed;
  background-size: 100% 100%;
}
#menu-closed-logo,
#menu-open-logo {
  height: 75px;
  width: 75px;
  background-image: url("/images/tomato.png");
  width: 85px;
  margin: 10px;
}
#menu-closed-logo-icon,
#menu-open-logo-icon {
  height: 40px;
  width: 40px;
  padding: 16px 23px;
}
#info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  font-family: 'Indie Flower';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: max-width 2s, max-height 4s;
  -webkit-animation: pulse 10s infinite alternate;
}
-moz-animation: pulse 10s infinite alternate {
  -ms-animation: pulse 10s infinite alternate;
  -animation: pulse 10s infinite alternate;
}
#info-detail {
  display: flex;
  flex-direction: row;
}
#info-detail-img {
  display: flex;
  align-self: center;
  height: 25px;
  width: 25px;
}
@media only screen and (min-width: 481px) {
  body {
    background-size: 175px 175px;
  }
}
@-moz-keyframes pulse {
  0% {
    background-color: #89daff;
  }
  20% {
    background-color: #23f9f5;
  }
  40% {
    background-color: #fffc00;
  }
  60% {
    background-color: #ff2cc2;
  }
  80% {
    background-color: #cbb1ff;
  }
  100% {
    background-color: #89daff;
  }
}
@-webkit-keyframes pulse {
  0% {
    background-color: #89daff;
  }
  20% {
    background-color: #23f9f5;
  }
  40% {
    background-color: #fffc00;
  }
  60% {
    background-color: #ff2cc2;
  }
  80% {
    background-color: #cbb1ff;
  }
  100% {
    background-color: #89daff;
  }
}
@-o-keyframes pulse {
  0% {
    background-color: #89daff;
  }
  20% {
    background-color: #23f9f5;
  }
  40% {
    background-color: #fffc00;
  }
  60% {
    background-color: #ff2cc2;
  }
  80% {
    background-color: #cbb1ff;
  }
  100% {
    background-color: #89daff;
  }
}
@keyframes pulse {
  0% {
    background-color: #89daff;
  }
  20% {
    background-color: #23f9f5;
  }
  40% {
    background-color: #fffc00;
  }
  60% {
    background-color: #ff2cc2;
  }
  80% {
    background-color: #cbb1ff;
  }
  100% {
    background-color: #89daff;
  }
}
